.wobbling-4 {
    width:20px;
    height:20px;
    background:#25b09b;
    box-shadow:0 0 60px 15px #25b09b;
    transform: translate(-80px);
    clip-path:inset(0);
    animation:
      w4-1 0.5s ease-in-out infinite alternate,
      w4-2 1s   ease-in-out infinite;
  }
  
  @keyframes w4-1 {
    100% {transform:translateX(80px)}
  }
  
  @keyframes w4-2 {
     33% {clip-path:inset(0 0 0 -100px)}
     50% {clip-path:inset(0 0 0 0)     }
     83% {clip-path:inset(0 -100px 0 0)}
  }